# Application Settings
APP_NAME='Smart Attendance System'
APP_VERSION=0.1.0
DEBUG=True
ENVIRONMENT=development

# Database Settings
DB_HOST=localhost
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SCHEMA=
DATABASE_URL=

# API Settings
API_HOST=
API_PORT=

# Security
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# PgAdmin Settings (optional)
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=