fastapi==0.128.0
uvicorn[standard]==0.40.0
pydantic_settings==2.12.0
email-validator==2.2.0
python_dotenv==1.2.1
# Database
sqlalchemy==2.0.45
asyncpg==0.31.0
psycopg2-binary==2.9.11
alembic==1.17.2

